{% extends 'pages/index.html' %}
{% block content %}
{% load static %}
<div class="about-container">
<h1 >ServEase is your one-stop destination for all your local service needs in Bacoor City.
    We're here to simplify your life by connecting you to a wide array of essential services through an easy-to-use online platform.
    Our goal is simple: make accessing local services effortless for everyone in our community. Whether it's finding a plumber, a fitness instructor, or a pet groomer, ServEase brings them all together in one convenient place.
    With ServEase, discover, engage, and support local businesses while enjoying a hassle-free experience. We're dedicated to building a vibrant community where accessing essential services is as easy as a click.
    Join us in creating a connected community where services meet simplicity, right here at ServEase!
</h1>
</div>
{% endblock %}